# Importing the Libraries

In [33]:
import cv2
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import pandas as pd
import shutil

# Reading the CSV

In [2]:
df = pd.read_csv("dataset\\train.csv")

In [3]:
df.head()

            Image   Class
0   image7042.jpg    Food
1   image3327.jpg    misc
2  image10335.jpg  Attire
3   image8019.jpg    Food
4   image2128.jpg  Attire

In [20]:
cols = df.columns
print(cols)

Index(['Image', 'Class'], dtype='object')

In [15]:
sum(df['Image'].isnull())

0

In [16]:
sum(df['Class'].isnull())

0

In [17]:
image_names = df.iloc[:,0].values
class_names = df.iloc[:,1].values

In [18]:
image_names

array(['image7042.jpg', 'image3327.jpg', 'image10335.jpg', ...,
       'image4975.jpg', 'image1222.jpg', 'image9635.jpg'], dtype=object)

In [19]:
len(image_names)

5983

In [7]:
class_names

array(['Food', 'misc', 'Attire', ..., 'Food', 'Food', 'Attire'],
      dtype=object)

In [8]:
len(image_names)

5983

In [24]:
np.unique(class_names, return_counts = True)

(array(['Attire', 'Decorationandsignage', 'Food', 'misc'], dtype=object),
 array([1691,  743, 2278, 1271], dtype=int64))

### We can clearly see that Food has too many images and Decorationandsignage has too few

# Creating Separate folders for classes and pushing images to them

In [26]:
class_info = np.unique(class_names, return_counts = True)

In [28]:
unique_classes = class_info[0]

In [31]:
for un in unique_classes:
    try:
        os.makedirs(f"dataset\\classificationData\\ClassWiseSeparated\\{un}")
        print(f"Created dir for {un}")
    except:
        print(f"Failed to create for {un}")

Created dir for Attire
Created dir for Decorationandsignage
Created dir for Food
Created dir for misc

In [34]:
for idx,img in enumerate(image_names):
    un = class_names[idx]
    shutil.copy(f"dataset\\TrainImages\\{img}" , f"dataset\\classificationData\\ClassWiseSeparated\\{un}\\{img}")

In [35]:
len(glob.glob("dataset\\classificationData\\ClassWiseSeparated\\Attire\\*")) == class_info[1][0]

True

In [36]:
class_info[1][0]

1691

In [37]:
len(glob.glob("dataset\\classificationData\\ClassWiseSeparated\\Attire\\*"))

1691

In [38]:
len(glob.glob("dataset\\classificationData\\ClassWiseSeparated\\Decorationandsignage\\*")) == class_info[1][1]

True

In [39]:
len(glob.glob("dataset\\classificationData\\ClassWiseSeparated\\Food\\*")) == class_info[1][2]

True

In [40]:
len(glob.glob("dataset\\classificationData\\ClassWiseSeparated\\misc\\*")) == class_info[1][3]

True

In [ ]:
#